<div class="exampleone">
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
  >
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-8 font-weight-normal">
        Nuevas maneras de hacer las cosas
      </h1>
      <p class="lead font-weight-normal">
        Descubrir, valora, comenta, compara, elige y adapta.
      </p>
      <!-- <a class="btn btn-outline-secondary" href="#">Registrate ¡Es gratis!</a> -->
      <button
        type="button"
        class="btn btn-lg btn-block btn-primary"
        routerLink="/juego-responsable"
      >
        Registrate ¡Es gratis!
      </button>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div
      class="product-device product-device-2 box-shadow d-none d-md-block"
    ></div>
  </div>

  <!-- <div class="row mt-5" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-last order-lg-last order-md-first order-sm-first order-xs-first"
    >
      <img
        class="mx-auto d-block img-fluid"
        src="../../../../../assets/image/Image/Rectangle3.png"
        alt="Responsive image"
        routerLink="/gestion-juego"
      />
    </div>
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-first order-lg-first order-md-last order-sm-last order-xs-last"
    >
      <div class="row">
        <div
          class="offset-xl-1 col-xl-11 col-lg-12 col-md-12 col-sm-12 col-xs-12"
        >
          <h1
            class="mb-5 mt-3 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Nuevas maneras de hacer las cosas
          </h1>
          <p
            class="p-medium mb-5 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Descubrir, valora, comenta, compara, elige y adapta
          </p>
          <button
            type="button"
            class="btn btn-lg btn-block btn-primary"
            routerLink="/gestion-juego"
          >
            Registrate ¡Es gratis!
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="row mt-5" fxLayout="row" fxLayoutAlign="center center">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1
            class="mb-5 mt-3 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Pide Tu Herramienta
          </h1>
          <p
            class="p-medium mb-5 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            ¿No tienes tiempo de descubrir?, deja que nosotros te mostremos la
            herramienta a tu medida.
          </p>
          <button
            type="button"
            class="btn btn-lg btn-block btn-primary"
            routerLink="/juego-responsable"
          >
            Pide tu herramienta
          </button>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <img
        class="mx-auto d-block img-fluid"
        src="../../../../../assets/image/Image/Rectangle1.png"
        alt="Responsive image"
        routerLink="/juego-responsable"
      />
    </div>
  </div> -->
  <div class="row mt-5" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-first order-lg-first order-md-last order-sm-last order-xs-last"
    >
      <div class="row">
        <div
          class="offset-xl-1 col-xl-11 col-lg-12 col-md-12 col-sm-12 col-xs-12"
        >
          <h1
            class="mb-5 mt-3 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Pide Tu Herramienta
          </h1>
          <p
            class="p-medium mb-5 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            ¿No tienes tiempo de descubrir?, deja que nosotros te mostremos la
            herramienta a tu medida.
          </p>

          <button
            type="button"
            class="btn btn-lg btn-block btn-primary"
            routerLink="/compromiso-social"
          >
            Pide tu herramienta
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-last order-lg-last order-md-first order-sm-first order-xs-first"
    >
      <img
        class="mx-auto d-block img-fluid"
        src="../../../../../assets/image/Image/Rectangle1.png"
        alt="Responsive image"
        routerLink="/compromiso-social"
      />
    </div>
  </div>
  <!-- <div class="row mt-5" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-last order-lg-last order-md-first order-sm-first order-xs-first"
    >
      <img
        class="mx-auto d-block img-fluid"
        src="../../../../../assets/image/Image/Rectangle3.png"
        alt="Responsive image"
        routerLink="/gestion-juego"
      />
    </div>
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-first order-lg-first order-md-last order-sm-last order-xs-last"
    >
      <div class="row">
        <div
          class="offset-xl-1 col-xl-11 col-lg-12 col-md-12 col-sm-12 col-xs-12"
        >
          <h1
            class="mb-5 mt-3 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Gestión del Juego
          </h1>
          <p
            class="p-medium mb-5 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Para desarrollar esta actividad con responsabilidad, es importante
            que conozcas las alertas de riesgo y las herramientas disponibles en
            la plataforma de BetPlay para gestionar el juego.
          </p>
          <button
            class="bp-btn bp-btn-primary ml-xl-4 ml-lg-4 mx-md-auto mx-sm-auto mx-xs-auto d-xl-inline d-lg-inline d-md-block d-sm-block d-xs-block"
            routerLink="/gestion-juego"
          >
            Conoce más
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row mt-5" fxLayout="row" fxLayoutAlign="center center">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <img
        class="mx-auto d-block img-fluid"
        src="../../../../../assets/image/Image/Rectangle2.png"
        alt="Responsive image"
        routerLink="/apoyo-acompanamiento"
      />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1
            class="mb-5 mt-3 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Pide tu Sembrador KIRI
          </h1>
          <p
            class="p-medium mb-5 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Deja que uno de nuestros sembradores ayudará a tu negocio a adoptar
            cualquier herramienta que requieras.
          </p>
          <button
            type="button"
            class="btn btn-lg btn-block btn-primary"
            routerLink="/apoyo-acompanamiento"
          >
            Conoce más
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-first order-lg-first order-md-last order-sm-last order-xs-last"
    >
      <div class="row">
        <div
          class="offset-xl-1 col-xl-11 col-lg-12 col-md-12 col-sm-12 col-xs-12"
        >
          <h1
            class="mb-5 mt-3 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            Sin Complicaciones
          </h1>
          <p
            class="p-medium mb-5 mx-xl-0 mx-lg-0 mx-md-5 mx-sm-4 mx-xs-4 text-xs-center text-sm-center text-md-center text-lg-start text-xl-start"
          >
            La era digital ha llegado, sacale el mayor provecho con KIRI.
          </p>

          <button
            type="button"
            class="btn btn-lg btn-block btn-primary"
            routerLink="/compromiso-social"
          >
            Ingresa Ahora
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-last order-lg-last order-md-first order-sm-first order-xs-first"
    >
      <img
        class="mx-auto d-block img-fluid"
        src="../../../../../assets/image/Image/Rectangle5.png"
        alt="Responsive image"
        routerLink="/compromiso-social"
      />
    </div>
  </div>
</div>
