<section id="fh5co-work" data-section="work">
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Work</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>
              If there's a bustle in your hedgerow. Don't be alarmed now. It's
              just a spring clean for the May queen.
            </h3>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row row-bottom-padded-sm">
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/Computador.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/Computador.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>En la web</h2>
            <!-- <span>Branding</span> -->
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/Tu logistica.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/Tu logistica.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Tu logística</h2>
            <!-- <span>Web</span> -->
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/Tus finanzas.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/Tus finanzas.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Tus finanzas</h2>
            <!-- <span>Web</span> -->
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <!-- <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/Tus finanzas.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/Tus finanzas.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Project 3</h2>
            <span>Web</span>
          </div>
        </a>
      </div> -->
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/Conversa.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/Conversa.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Conserva</h2>
            <!-- <span>UI/UX</span> -->
          </div>
        </a>
      </div>

      <!-- <div class="clearfix visible-sm-block"></div> -->

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/trio.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/trio.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Tu personal</h2>
            <!-- <span>Photography</span> -->
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/cajaFuerte.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/cajaFuerte.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Contabilidad</h2>
            <!-- <span>Illustration</span> -->
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <!-- <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/En la web.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/En la web.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Project 3</h2>
            <span>Web</span>
          </div>
        </a>
      </div> -->
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/Convierte.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/Convierte.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Tu Marketing</h2>
            <!-- <span>Sketch</span> -->
          </div>
        </a>
      </div>

      <!-- <div class="clearfix visible-sm-block"></div> -->

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/Tu Oficina.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/Tu Oficina.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Tu oficina</h2>
            <!-- <span>Illustration</span> -->
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="../../../../../assets/image/Menu/En la web.png"
          class="fh5co-project-item image-popup to-animate"
        >
          <img
            src="../../../../../assets/image/Menu/En la web.png"
            alt="Image"
            class="img-responsive"
          />
          <div class="fh5co-text">
            <h2>Diseña</h2>
            <!-- <span>Illustration</span> -->
          </div>
        </a>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12 text-center to-animate">
        <p>
          * Demo images from
          <a href="http://plmd.me/" target="_blank">plmd.me</a>
        </p>
      </div>
    </div> -->
  </div>
</section>
